/*chromium selection error workaround */
::selection {
  /*background:rgba(255, 255, 125, 0.99);
  color:#032764;*/
  background:rgba(254, 115, 106, 0.83);
  color: #333333;
}
body, input, textarea, button {
  color: #333333;
  /*font-family: 'Montserrat-Regular';*/
  font-family: 'Inconsolata-Regular';
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../fonts/Inconsolata-Regular.ttf');
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

h1 {
  font-family: 'Inconsolata-Regular';
}
h2 {
  font-family: 'Inconsolata-Regular';
}

button {
  width: 30%;
  height: 30px;
  font-size:0.8em;
  margin: 1%;
  border:none;
  cursor: pointer;
  background-color:#EEE;
}
button:focus {
  outline-color: rgba(254, 115, 106, 0.83);
}
#monitorRefreshButton {
  position:absolute;
  right: 10px;
  top: 20px;
  display:inline;
}

#status-console {
  border: 1px solid #333;
  margin:0;
  padding:3px;
  height:3em;
  text-overflow:clip;
  overflow-y:scroll;
}

#spore-template {
  display: none;
}

.spore {
  padding: 1px 0;
  font-size: 0.5em;
  display: inline-block;
  width: 40px;  /* 96 */
  height: 40px; /* 64 */
  margin: 0;
  cursor: pointer;
  /*background-color: rgb(200, 200, 200);*/
  background-color: #EEE;
  outline: 1px dashed grey;
}

.address {
  padding: 2px 0;
  display: block;
}

.battery {
  padding: 2px 0;
  display: block;
}

.firmware {
  padding: 2px 0;
  display: block;
}

.connected {
  background-color: rgba(254, 115, 106, 0.83);
  /*background-color: rgba(37, 110, 255, 1.0);*/
  outline: 1px solid grey;
}

.focused {
  outline: 2px solid rgba(255, 255, 130, 1.0);
  background-color: white;
  animation: pulse 3s infinite;
}
@keyframes pulse {
  25% {
    background-color: white;
  }
  50% {
    background-color: rgba(255, 255, 130, 0.8);
  }
  75% {
    background-color: white;
  }
}
